*{
	//border:1px dotted black;
}

#header{
	padding-left:60px;
	padding-top:11px !important;
	padding-bottom:11px !important;
	background-color:#000000 !important;
}

.navbar-brand{
	padding-top:0px;
	padding-bottom:0px;
	padding-right:25px;
	font-size:11px;
	font-family:sans-serif;
	border-right:1px solid #696969;
}

.nav-item{
	padding:0px;
	font-size:11px;
	font-family:sans-serif;
}

#miui{
	padding-right:25px;
	border-right:1px solid #696969;
}

#facebook{
	padding-left:20px;
}

.right-side{
	margin-right:70px;
}

#signin{
	border-right:1px solid #696969;
	padding-right:20px;
}

#signout{
	padding-left:20px;
}

.site-navigation{
	background-color:#a7a7a7;
}

.site-navigation a{
	text-decoration:none;
	color:#333333;
	font-size:12px;
	font-weight:bold;
	font-family:sans-serif;
}

.navi-item{
	margin-left:50px;
	margin-top:20px;
}

.carousel-indicators li{
	height:10px;
	width:10px;
	border-radius:100%;
}

.product-caption{
	font-weight:lighter;
	top:0;
	margin-top:100px;
}

.carousel-button-white .button{
	margin-top:20px;
	background-color:Transparent;
	color:white;
	padding-left:50px;
	padding-right:50px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:15px;
	cursor:pointer;
	border:1px solid white;
}

.carousel-button-white .button:hover{
	color:black;
	background-color:white;
}

.carousel-button-black .button{
	margin-top:20px;
	background-color:Transparent;
	color:black;
	padding-left:50px;
	padding-right:50px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:15px;
	cursor:pointer;
	border:1px solid black;
}

.carousel-button-black .button:hover{
	color:white;
	background-color:black;
}

.card-item img{
	width:100%;
	margin-bottom:10px;
	margin-top:10px;
}

.card-item img:hover{
	box-shadow: 0px 5px 5px grey;
}

.card-item2 img{
	width:100%;
}

.card-item2 img:hover{
	box-shadow: 0px 5px 5px grey;
}

.nopadding{
	padding:1px !important;
}

.card-video{
	height:300px;
}

.card-video img{
	width:100%;
	height:100%;
}

.modal-header p{
	margin:0 auto;
}

.card-img-overlay{
	margin-top:80px;
}

.card-img-overlay i{
	color:grey;
}

.card-img-overlay i:hover{
	color:white;
}

#carouselPressIndicators{
	margin-bottom:50px;
}

.press-caption{
	top:0;
	margin-top:20px;
}

.press-caption p{
	font-size:13px;
}

.press-caption hr{
	border:0.5px solid white;
	width:5%;
}

.warranty{
	opacity:0.5;
	text-decoration:none;
}

.warranty:hover{
	opacity:0.8;
}

.input-group-addon-btn{
	padding:0;
	
	button{
		border:none;
		background:transparent;
		cursor:pointer;
		height:100%;
	}
}

.footer-nav{
	background-color:#212121;
	font-family:sans-serif;
	font-size:15px;
}

.footer-nav .span{
	color:#afafaf;
	margin-top:50px;
}

.footer-nav a{
	text-decoration:none;
	color:#afafaf;
}

.footer-nav a:hover{
	color:#ffffff;
}

.span-title{
	margin-bottom:20px;
}

#span1{
	margin-right:20px;
}

#span2{
	margin-right:87px;
}

#span3{
	margin-right:94px;
}

#email-support .button{
	margin-left:200px;
	margin-top:50px;
	color:white;
	background-color:#212121;
	padding-left:30px;
	padding-right:30px;
	padding-top:10px;
	padding-bottom:10px;
	font-size:12px;
	cursor:pointer;
	border:1px solid white;
}

#email-support .button:hover{
	background-color:white;
	color:black;
}

#navbarDropdown{
	margin-top:42px;
	margin-left:600px;
}

.dropdown-item{
	font-size:12px;
	color:#696969 !important;
}

.dropdown-item:hover{
	color:red !important;
}