*{
	//border:1px dotted black;
}

#header{
	padding-left:60px;
	padding-top:11px !important;
	padding-bottom:11px !important;
	background-color:#000000 !important;
}

.navbar-brand{
	padding-top:0px;
	padding-bottom:0px;
	padding-right:25px;
	font-size:11px;
	font-family:sans-serif;
	border-right:1px solid #696969;
}

.nav-item{
	padding:0px;
	font-size:11px;
	font-family:sans-serif;
}

#miui{
	padding-right:25px;
	border-right:1px solid #696969;
}

#facebook{
	padding-left:20px;
}

.right-side{
	margin-right:70px;
}

#signin{
	border-right:1px solid #696969;
	padding-right:20px;
}

#signout{
	padding-left:20px;
}

.footer-nav{
	background-color:#212121;
	font-family:sans-serif;
	font-size:15px;
}

.footer-nav .span{
	color:#afafaf;
	margin-top:50px;
}

.footer-nav a{
	text-decoration:none;
	color:#afafaf;
}

.footer-nav a:hover{
	color:#ffffff;
}

.span-title{
	margin-bottom:20px;
}

#span1{
	margin-right:20px;
}

#span2{
	margin-right:87px;
}

#span3{
	margin-right:94px;
}

.button{
	margin-left:200px;
	margin-top:50px;
	color:white;
	background-color:#212121;
	padding-left:30px;
	padding-right:30px;
	padding-top:10px;
	padding-bottom:10px;
	font-size:12px;
	cursor:pointer;
	border:1px solid white;
}

.button:hover{
	background-color:white;
	color:black;
}
